$icon-font-path: "/_fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'colors';
@import 'respond-to';
@import 'bs-buttons';


// --- Base ---
html, body {
  height: 100%;
}


// --- Layout ---
.ly-application {
  height: 100%;

  padding-top: 40px;
  @include respond-to(screen-md) {
    padding-top: 80px;
  }
}


// --- Modules ---
@import 'modules/post-item';
@import 'modules/local-nav';


// --- Sections ---
@import 'sections/navbar';
@import 'sections/banner';
@import 'sections/content';
@import 'sections/map-block';
@import 'sections/footer';
@import 'sections/calendar-jumbo';
@import 'sections/page';
@import 'sections/donate';
