// --- Navbar ---
$fullHeight: 100px;
$maxMenuWidth: 899px;
$smallMenuWidth: 744px;
$mobileMenuWidth: 534px;

.se-navbar {
  position     : fixed;
  z-index      : 1000;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : $fullHeight + 1px;
  background   : #FFF;
  border-bottom: 1px solid $gray4;
  box-shadow   : 0 1px 3px rgba(#000, .3);

  @media screen and (max-width: $smallMenuWidth) {
    height: 80px;
  }

  @media screen and (max-width: $mobileMenuWidth) {
    height: auto;
  }
}

.se-navbar.se-navbar-short {
  height: $fullHeight / 2 + 1px;
  .se-navbar-b-t-name {
    line-height: 50px;
    margin-top: 0;
    margin-left: 10px;
  }
  .se-navbar-b-t-sub-title {
    display: none;
  }
  .se-navbar-lower-menu {
    display: none;
  }

  @media screen and (max-width: $smallMenuWidth) {
    height: 40px;
    .se-navbar-b-t-name {
      line-height: 40px;
    }

    .se-navbar-menu {
      display: none;
    }

    .se-navbar-show-menu {
      display: block;
      float: right;
      line-height: 40px;
      margin-right: 10px;
    }

    // Show Menu
    &.se-navbar-short-show {
      height: 80px;
      .se-navbar-menu {
        display: block;
      }
      .se-navbar-lower-menu {
        display: none;
      }
    }
  }

  @media screen and (max-width: $mobileMenuWidth) {
    // Show Menu
    &.se-navbar-short-show {
      height: auto;
      .se-navbar-menu {
        display: block;
      }
      .se-navbar-lower-menu {
        display: none;
      }
    }
  }
}


// --- Level 1 ---
.se-navbar-show-menu {
  display: none;
}

.se-navbar-brand-logo {
  display: block;
  float: left;
  height: 100%;
  margin-right: -10px;
  img {
    height: 100%;
  }

  @media screen and (max-width: $smallMenuWidth) {
    margin-right: 0;
  }

  @media screen and (max-width: $mobileMenuWidth) {
    height: 40px;
  }
}


.se-navbar-brand {
  float : left;
  color : $greenDark;
  height: $fullHeight;
  &:hover {
    text-decoration: none;
    color          : $greenDark;
  }

  @media screen and (max-width: $smallMenuWidth) {
    height: 40px;
  }
}


$menuHeight: $fullHeight / 2 - 10px;

.se-navbar-menu {
  list-style  : none;
  float       : right;
  padding     : 0;
  margin      : 0;
  height      : $menuHeight;
  margin-top  : 5px;
  margin-right: 10px;

  @media screen and (max-width: $smallMenuWidth) {
    height: 40px;
    float: left;
    margin: 0;
  }

  @media screen and (max-width: $mobileMenuWidth) {
    float: none;
    height: auto;
    clear: both;
  }
}

.se-navbar-lower-menu {
  @extend .se-navbar-menu;
  clear: right;

  @media screen and (max-width: $smallMenuWidth) {
    display: none;
  }
}


// --- Level 2 ---
.se-navbar-b-logo {
  float: left;
  display: block;
}

.se-navbar-b-title {
  float: left;
}

.se-navbar-m-button {
  float       : left;
  font-size   : 16px;
  margin-right: 10px;
  line-height : $menuHeight;

  a {
    display    : inline-block;
    padding    : 6px 10px;
    line-height: 1.4;
    color      : $gray6;
    &:hover {
      text-decoration : none;
      background-color: $blueDark;
      color           : #FFF;
      border-radius   : 2px;
    }
  }

  @media screen and (max-width: $maxMenuWidth) {
    font-size: 14px;
    margin-right: 0;
  }

  @media screen and (max-width: $mobileMenuWidth) {
    float: none;
    a {
      display: block;
    }
  }
}

.se-navbar-lm-button {
  float       : left;
  margin-right: 10px;
  line-height : $menuHeight;

  a {
    @extend .btn;
    @extend .btn-success;
  }
}


// --- Level 3 ---
.se-navbar-b-t-name {
  font-size: 22px;
  line-height: 1.4;
  margin-top: 20px;

  @media screen and (max-width: $maxMenuWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $smallMenuWidth) {
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    width: 100%;
    margin-left: 10px;
  }
}

.se-navbar-b-t-sub-title {
  margin-top: 5px;
  font-size: 18px;
  font-style: italic;

  @media screen and (max-width: $maxMenuWidth) {
    font-size: 14px;
  }

  @media screen and (max-width: $smallMenuWidth) {
    display: none;
  }
}
